.testi{
    padding-left: 6rem;
    padding-right: 6rem;
}

@media (max-width: 840px) {
    .testi{
        margin-top: 6rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (max-width: 800px) {
    .testi {
      margin-top: 6rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
