
.intro{
  background: linear-gradient(45deg, #FFFFFF, #EFE2CE, #D5ECEB, #E4E4E4, #F6FFFF);
  background-size: 270% 260%;
  animation: gradientAnimation 6s ease infinite;
  height: auto;
}
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}